/* Customer property */
:root {
    --primary-color: #e50914;
    --secondary-color: #DB202C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    /* font-family: 'Bebas Neue', sans-serif; */
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: rgb(40, 40, 40);
    font-weight: 100%;
    line-height: 1.6;
    transition: 1s ease-out;
}

/* Unordered list */
ul {
    list-style-type: none;
}

/* Links */
a {
    color: #ccc;
}

/* Headers */
h1, h2, h3, h4 {
    color: #fff;
}

/* Paragraph */
p {
    margin: 0.5rem 0;
}

/* Images */
img {
    width: 100%;
}

header {
    margin-bottom: 8px;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('Netflix\ Showcase.jpg') no-repeat center center/cover;
    
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.5);
    box-shadow: inset 0 20px 250px 0 #000;
}

.showcase-top {
    position: relative;
    height: 90px; 
    z-index: 2;   
}

.showcase-top img {
    width: 100px;
    height: auto;
    position: absolute;  
    top: 50%;
    left: 100px;  
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.showcase-content, .section5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}

.showcase-content h1, .section1 h1, .section2 h1, .section3 h1, .section4 h1, .section5 h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 2rem;
    text-align: center;
}

.showcase-content p, .section1 p, .section2 p, .section3 p, .section4 p, .section5 p {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    line-height: 1.25;
    margin: 0 0 1rem;
    text-align: center;
}

.showcase-content .registration, .section5 .registration {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.showcase-content .registration input[type=email],
.section5 .registration [type=email] {
    border: 1px solid #333;
    border-radius: 4px;
    background-color: rgba(0,0,0, 0.45);
    color: #fff;
    margin: 0;
    font-size: 1rem;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    caret-color: #fff;
    min-width: 450px;
}

.showcase-content .registration input[type=email]:focus,
.section5 .registration [type=email]:focus {
    border: none;
    outline: none;
    box-shadow: 2px 2px 8px 2px teal;
    caret-color: cyan;
}

.showcase-content .registration input[type=email]::placeholder,
.section5 .registration [type=email]::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    color: #aaa;
}

/* Registration Links */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.2rem 1.3rem;
    font: 1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

/* Sign-in link */
.btn-rounded {
    border-radius: 4px;
}

/* Get Started Link */
.btn-xl {
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    font-weight: 400;
    display: inline;
    margin-left: 1rem;
}

section {
    margin: 8px 0;
    background-color: #000;
}
/* Section1-4 */
.section1, .section2, .section3, .section4 {
    text-align: center;
    display: flex;
    padding: 4% 4% 4% 2%;
}

.description {
    padding: 5%;
}

.background-image {
    opacity: 0.8;
    height: auto;
}

.background-image:hover {
    opacity: 1;
}

/* Section2 */
#mobile {
    margin-left: 120px;
}

/* FAQ Section */
.section5 {
    margin-top: 0;
    padding-bottom: 4rem;
}

.section5 h1 {
    margin-top: 2rem;
}

.section5 p {
    text-align: center;
    margin-top: 2rem;
}
.faq {
    background-color: #222;
    color: #ddd;
    margin: 4px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    transition: 2s ease-in-out;
}

.faq p {
    margin-top: 1rem;
    text-align: left;
    padding: 4px 1rem;
}


#faq1, #faq2, #faq3, #faq4, #faq5, #faq6 {
    width: 100%;
    background-color: #333;
    padding: 1rem;
    z-index: 1;
    max-height: 400px;
    overflow: hidden;
    display: none;
}

.additionIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.subtractionIcon {
    position: absolute;
    right: 0;
    top: 10%;
    transform: translate(-50%, -50%);
}


/* Footer */
.footer {
    background-color: #000;
    padding: 1rem 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-link, #translate-button, #last-thing {
    padding: 10px 0;
}

.translate-button {
    background-color: #111;
    color: #ddd;
    padding: 4px 12px;
    border: 1px solid rgba(150,150,150, 0.6);
    border-radius: 4px;
    /* box-shadow: 1px 1px 6px  1px #ddd; */
}

.footer #english {
    color: #ddd;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    /* box-shadow: 1px 1px 6px  1px #ddd; */
}

/* Responsivesness for Tablets with max-width of 700px */
@media (max-width: 700px) {
    /* Showcase section */
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    .showcase-content h1, .section1 h1, .section2 h1, .section3 h1, .section4 h1, .section5 h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.6;
        margin: 0 0 1.2rem;
        text-align: center;
    }

    /* Sections */
    .section1, .section2, .section3, .section4 {
        display: flex;
        flex-direction: column;
    }

    /* Form section at the FAQ */
    .showcase-content .registration input[type=email],
    .section5 .registration [type=email] {
        font-size: 1rem;
        padding: 1.2rem 1.5rem;
        min-width: 350px;
    }

    /* Buttons */  
    .btn-xl {
        font-size: 1.3rem;
        padding: 12px 1.2rem;
    }
}