
/* ===== HTML ===== */
html {
    scroll-behavior: smooth;
}

/* ===== CUSTOM PROPERTIES ===== */
:root {
    --primary-color: #e50914;
    --secondary-color: #DB202C;

    --dull-white: #eee;
    --link-white: #ccc;
    --primary-bg: rgb(40, 40, 40);
    --section-bg: #010101;

    --trans-3: all 0.3s ease-in-out;
    --trans-4: all 0.4s ease-in-out;
    --trans-5: all 0.5s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== BODY ===== */
body {
    /* font-family: 'Bebas Neue', sans-serif; */
    color: var(--dull-white);
    background-color: var(--primary-bg);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    position: relative;
    cursor: default;
}

/* ===== UNORDERED LISTS ===== */
ul {
    list-style-type: none;
}

/* ===== lNKS ===== */
a {
    color: var(--link-white);
    text-decoration: none;
}

/* ===== HEADERS ===== */
h1, h2, h3, h4, h5, h6 {
    color: var(--dull-white);
    text-transform: uppercase;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 2rem;
    text-align: center;
}

/* ===== PARAGRAPHS ===== */
p {
    color: var(--dull-white);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25;
    margin: 0 0 1rem;
    text-align: center;
}

/* ===== REGISTRATION LINKS ===== */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--dull-white);
    padding: 0.4rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
}

.btn:hover {
    opacity: 0.9;
    transform: scale(0.96);
}

/* Sign-Up link */
.btn-rounded {
    border-radius: 6px;
}

/* Get Started Link */
.btn-xl {
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    font-weight: 400;
    display: inline;
    margin-left: 1rem;
}

/* ===== EMAIL INPUT FIELD CONTAINER ===== */
.registration {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.registration input[type=email] {
    border: 1px solid #333;
    border-radius: 4px;
    background-color: rgba(0,0,0, 0.45);
    color: var(--dull-white);
    margin: 0;
    font-size: 1rem;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    caret-color: var(--dull-white);
    min-width: 450px;
    transition: var(--trans-5);
}

.registration input[type=email]:focus {
    border: none;
    outline: none;
    box-shadow: 2px 2px 8px 2px rgba(0, 128, 128, 0.7);
    caret-color: cyan;
}

.registration input[type=email]::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    color: #aaa;
}

/* ===== IMAGES ===== */
img {
    width: 100%;
}

.row {
    flex: 0 0 100%;
    max-width: 100%;
    transition: var(--trans-3);
    flex-wrap: wrap;
}

/* ===== SHOWCASE ===== */
.showcase {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('/Images/Showcase\ background.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.5);
    box-shadow: inset 0 20px 250px 0 #000;
}

/* ===== Showcase Top containing the Logo and the Sign Up Link ===== */
.showcase .showcase-top {
    position: relative;
    height: 90px; 
    z-index: 2;   
}

/* ===== Showcase Netflix Logo Container ===== */
.showcase .showcase-top .logo {
    width: 100px;
    height: auto;
    position: absolute;  
    top: 50%;
    left: 100px;  
    transform: translate(-50%, -50%);
}

/* ===== Showcase Sign Up Link Container ===== */
.showcase .showcase-top .sign-up {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

/* ===== Showcase Content Container ===== */
.showcase .showcase-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12rem 0 3rem 0;
    z-index: 2;
    cursor: default;
}

/* ===== SECTION ===== */
section {
    margin: 8px 0;
    background-color: var(--section-bg);
}

.section {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4% 4% 4% 2%;
}

/* ===== ENJOY YOUR TV SECTION ===== */
.tv .description {
    padding: 5%;
}

.tv .background-image {
    opacity: 0.8;
    height: auto;
    transition: var(--trans-4);
}

.tv .background-image:hover {
    opacity: 1;
}

/* ===== DOWNLOAD AND WATCH OFFLINE SECTION ===== */
.download {
    display: flex;
    align-items: center;
}

.download .phone {
    margin-left: 120px;
}

/* ===== WATCH SECTION ===== */
.watch.section {
    display: flex;
    justify-content: center;
}

.kids {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
}

/* ===== FAQ SECTION ===== */
.faqs {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 2;
}

.faqs h1 {
    margin-top: 2rem;
}

.faqs .faq-container {
    background-color: var(--primary-bg);
    color: var(--dull-white);
    margin: 4px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    transition: var(--trans-4);
}

.faqs .faq-container .faq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 1rem;
    position: relative;
    width: 100%;
    height: 70px;
}

.faqs .faq-container p {
    margin-top: 1rem;
    text-align: left;
    color: var(--dull-white);
}


.faqs .faq-container #faq1, 
.faqs .faq-container #faq2,
.faqs .faq-container #faq3,
.faqs .faq-container #faq4,
.faqs .faq-container #faq5,
.faqs .faq-container #faq6 {
    width: 100%;
    background-color: var(--section-bg);
    padding: 1rem;
    z-index: 1;
    max-height: 400px;
    overflow: hidden;
    display: none;
    transition: var(--trans-5);
    box-shadow: 2px 1px 1px 1px #111,
        -2px 1px 1px 1px #111;
}

.faqs .faq-container #faq1 p, 
.faqs .faq-container #faq2 p,
.faqs .faq-container #faq3 p,
.faqs .faq-container #faq4 p,
.faqs .faq-container #faq5 p,
.faqs .faq-container #faq6 p {
    font-size: 1rem;
}

.faqs .faq-container .additionIcon {
    font-size: 35px;
    font-weight: 600;
}

.faqs .faq-container .multiplicationIcon {
    position: absolute;
    right: 7px;
    top: 35px;
    font-size: 35px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqs .reg-container {
    margin-top: 2rem;
}

/* ===== TABLE SECTION ===== */
.table {
    flex: 0 0 100%;
    max-width: 100%;
}

.table table {
    width: 80%;
    background-color: #111;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    transition: var(--trans-4);    
}

.table table tr {
    border-bottom: 1px solid var(--primary-bg);
    height: 60px;
}

.table table tr:hover {
    background-color: var(--section-bg);
}

/* ===== FOOTER SECTION ===== */
.footer {
    padding: 1rem 2rem;
    background-color: var(--section-bg);
}

.footer > div {
    margin: 25px 0;
}

.footer .link-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer .footer-link {
    flex: 0 0 25%;
    margin-right: 5px;
    max-width: 22%;
    padding: 10px;
    margin: 0 auto;
    transition: var(--trans-4);
}

.footer .footer-link a:hover {
    text-decoration: underline;
}

.footer .translate-button {
    background-color: #111;
    color: #ddd;
    width: 150px;
    padding: 8px 18px;
    border: 1px solid rgba(150,150,150, 0.6);
    border-radius: 4px;
    box-shadow: 1px 1px 2px  1px #333;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .translate-button i.fa {
    font-size: 20px;
}

.footer #down {
    display: none;
}

.footer .langs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    transition: var(--trans-4);
    display: none;
}

.footer .langs-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 5%;
}

.footer .langs-container form .english,
.footer .langs-container form .yoruba,
.footer .langs-container form .hausa,
.footer .langs-container form .igbo,
.footer .langs-container form .french,
.footer .langs-container form .russian {
    margin: 12px 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.footer label {
    display: inline;
    margin: 10px 0;
}

.footer input[type=checkbox] {
    display: inline;
}

.footer #english {
    color: #ddd;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    /* box-shadow: 1px 1px 6px  1px #ddd; */
}

/* Responsivesness for Tablets with max-width of 700px */
@media (max-width: 700px) {
    /* Showcase section */
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    .showcase-content h1, .section1 h1, .section2 h1, .section3 h1, .section4 h1, .section5 h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.6;
        margin: 0 0 1.2rem;
        text-align: center;
    }

    /* Sections */
    .section1, .section2, .section3, .section4 {
        display: flex;
        flex-direction: column;
    }

    /* Form section at the FAQ */
    .showcase-content .registration input[type=email],
    .section5 .registration [type=email] {
        font-size: 1rem;
        padding: 1.2rem 1.5rem;
        min-width: 350px;
    }

    /* Buttons */  
    .btn-xl {
        font-size: 1.3rem;
        padding: 12px 1.2rem;
    }
}